{% extends 'core/base.html' %}
{% block content %}
<div class="min-h-[80vh] flex items-center justify-center px-4 py-12">
    <div
        class="w-full max-w-md bg-white dark:bg-[#0a0a0a] border border-gray-200 dark:border-gray-800 rounded-2xl shadow-xl p-8 relative">
        <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-2 text-center">Authentication</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400 mb-8 text-center">Enter your secure credentials.</p>

        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <div>
                <label class="block text-xs font-bold text-gray-700 dark:text-gray-300 mb-1 uppercase">System ID</label>
                <input type="text" name="username" required
                    class="w-full p-3 bg-gray-50 dark:bg-[#111] border border-gray-200 dark:border-gray-800 rounded outline-none focus:border-brand-light transition text-gray-900 dark:text-white">
            </div>
            <div class="mb-6 relative">
                <label class="block text-xs font-bold text-gray-700 dark:text-gray-300 mb-1 uppercase">Cryptographic
                    Key</label>
                <input type="password" id="login-password" name="password" required
                    class="w-full p-3 bg-gray-50 dark:bg-[#111] border border-gray-200 dark:border-gray-800 rounded outline-none focus:border-brand-light transition text-gray-900 dark:text-white pr-10">
                <button type="button" onclick="togglePassword('login-password')"
                    class="absolute right-3 top-8 text-gray-500 hover:text-brand-light">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z">
                        </path>
                    </svg>
                </button>
            </div>
            <button type="submit"
                class="w-full py-3 bg-black text-white dark:bg-white dark:text-black rounded font-bold hover:scale-[1.02] transition shadow-lg">Bypass
                Firewall &rarr;</button>
        </form>
    </div>
</div>

<script>
    function togglePassword(fieldId) {
        const input = document.getElementById(fieldId);
        if (input.type === "password") { input.type = "text"; }
        else { input.type = "password"; }
    }
</script>
{% endblock %}